body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 3%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

.searchAndTweet {
  float: right;
}

.profileComponent {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(204, 207, 209);
  display: inline-block;
  padding: 10px;
}

.profileHyperLink {
  text-decoration: none;
  color: rgb(141, 140, 138);
}


a:visited {
  text-decoration: none;
}

a:hover{
  color: rgb(63, 63, 228);
  text-decoration: none;
}
.name {
  margin-left: 50%;
}

.descriptionComponent {
  width: 26.5%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(204, 207, 209);
  padding: 10px;
  display: inline-block;
  margin-top: -67%;
  height: 400px;
}

.timelinePostsComponent {
  margin-left: 30%;
  width: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(204, 207, 209);
  padding: 10px;
  overflow:hidden;
}

.timelinePosts {
  margin-top: -10%;
  padding-left: 2%;
  
}

.whatsHappening {
  /* margin-left: 13.5%; */
  margin-left: 30%;
  height: 5%;
  width: 50%;
  /* margin-left: .75%; */
  border-style: solid;
  border-width: 3px;
  border-color: rgb(204, 207, 209);
  padding: 10px;
}

.friendSuggestions {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(204, 207, 209);
  padding: 10px;
  display: inline-block;
  /* position: unset; */
  margin-left: 52%;
  margin-top: -78.7%;
  height: 10%;
}
/* .app {s
  padding-left: 2%;
} */